body {
    text-align: center;
}
#firstCanvas {
    z-index: -1;
    background: -webkit-linear-gradient(#00111e 30%, #033d5e);
    background: -moz-linear-gradient(#00111e 30%, #033d5e);
    background: -o-linear-gradient(#00111e 30%, #033d5e);
    background: linear-gradient(#00111e 30%, #033d5e);
    overflow: hidden;
  }
.firstCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    min-height: 100%;
    background-color: #ffffff;
}
.userBanner {
    background: #033d5e;
    color: white;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
}

#chatForm { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
#chatForm #m { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
#chatForm #chatSend { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages { margin-bottom: 40px }

#mainContent {
    text-align: center;
}
.row {
  text-align: center;
}
.column {
  display: inline-block;
}
.headtitle {
    padding: 0px 0px 0px 0px;
    width: 100%;
    text-align: center;
    color: cornflowerblue;
}
.mazehole {
    font-size: 8px;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: ghostwhite;
    margin: 1px 1px 1px 3px;
    line-height: 20px;
    white-space: nowrap;
}
.mazehole:hover {
    background-color: lightslategray;
}
div.mazehole img {
    height: 100%;
    width: 100%;
}
.mazerow {
    font-size: .01px;
    text-align: center;
    /* width: 100%; */
}
.subNavSelections {
    display: inline-block;
    margin-bottom: 15px;
}
.bottomSpacer {
    margin-bottom: 1em;
    display: block;
}
.topSpacer {
    margin-top: 1em;
    display: block;
}
.subNavSpacer {
    width: 30px;
}
#startButton {
    border-radius: 25px;
    background-color: #ffffff;
    color: cornflowerblue;
}
.statArea {
    text-align: left;
    padding-left: 5px;
    background-color: navajowhite;
    color: cornflowerblue;
    width: 5px;
}
.spanStats {
    padding-left: 5px;
}
.hidden {
    display: none;
}
.gameAlerts {
    color: white;
}
.center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
#simplemodal-overlay {
    opacity: 1;
}
#simplemodal-container {
    opacity: 1;
}
.modal {
    width: 450px;
    height: 330px;
    background-color: white;
    border: black 2px solid;
    color: black;
}
.largeModal {
    width: 600px;
    height: 600px;
    background-color: white;
    border: black 2px solid;
    color: black;
}
.expandingModal {
    width: 450px;
    min-height: 330px;
    background-color: white;
    border: black 2px solid;
    border-radius: 5px;
}
#textBoxModal {
    text-align: left;
    padding-left: 100px;
    padding-top: 5px;
}
.textBox {
    margin-bottom: 5px;
    width: 60px;
    border-radius: 4px;
    background-color: white;
    color: blue;
}
.healthBar {
    height: 20px;
    /* width: 80px; */
    background-color: white;
}
#alertModal {
    position: fixed;
    bottom: 0;
    left: 0;
}
input[type=text]:focus {
    border: 3px solid #555;
}
.table {
    display: table;
}
.clear {
    clear: both; 
 }
 .behind {
    z-index: -2 !important;
}
.front {
    z-index: 2 !important;
}
.troopCheckBox {
    display: inline-block;
    padding-left: 15px;
    text-align: left;
}
button.link { 
    background:none;
    border:none; 
}
button.link:hover {
    color: red;
}
.whiteText {
    color: white;
}
.redText {
    color: red;
}
.orangeText {
    color: orange;
}
.yellowText {
    color: yellow;
}
.greenText {
    color: green;
}
.blueText {
    color: blue;
}
.indigoText {
    color: indigo;
}
.violetText {
    color: violet;
}
.whiteBackground {
    background-color: white;
}
.greenBackground {
    background-color: green;
}
.redBackground{
    background-color: red;
}
.highlight {
    background-color: #ffffff;
    background-image: linear-gradient(to right, #a39f8b 0%, #fff2ac 100%);
}
.left-side {
    text-align: left;
    margin-left: 10px;
}
.left-side-bullets{
    padding-left: 20px;
}
.left-side-bullets li{
    text-align: left;
    margin-left: 10px;
    margin-bottom:  10px;
}
.top-right {
    margin-top: 0;
    margin-right: 0;
}
.top-left {
    margin-top: 0;
    margin-left: 0;
}
.bottom-right {
    margin-bottom: 0;
    margin-right: 0;
}
.bottom-left {
    margin-bottom: 0;
    margin-left: 0;
}
[class*='col-'] {
    float: left;
  }
  .col-2-3 {
    width: 66.66%;
  }
  .col-1-3 {
    width: 33.33%;
  }
  .col-1-2 {
      width: 50%;
  }
  .col-1-4 {
      width: 25%;
  }
  .col-3-4 {
      width: 75%;
  }
  .col-1-8 {
      width: 12.5%;
  }
  .col-7-8 {
      width: 87.5%
  }
  .col-1-1 {
      width: 100%;
  }
  .col-9-10{
    width: 90%;   
}
.col-8-10{
    width: 80%;   
}
  .col-7-10{
    width: 70%;   
}
  .col-6-10{
      width:60%;
  }
  .col-5-10{
      width: 50%;
  }
  .col-4-10 {
      width: 40%;
  }
  .col-3-10 {
      width: 30%;
  }
  .col-2-10{
    width: 20%;   
}
.col-1-10{
    width: 10%;   
}
  .left-gutter {
      text-align: left;
      padding-left: 20px;
  }
  .grid:after {
    content: "";
    display: table;
    clear: both;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  #playerColorSelect {
      background-color: lightgray;
  }
  .troopPic {
      width: 40px;
      height: 40px;
      margin-left: 15px;
      vertical-align: -75%;
  }
  .not-visible {
    background-color: gray;
  }
  .visible {
    background-color: white;
  }
.availableToMove {
    border: dotted hsl(129, 100%, 16%) 2px;
}
.availableForUniquered {
    background-color: rgb(255, 150, 150);
}
.availableForUniqueorange {
    background-color: rgb(255, 216, 150);
}
.availableForUniqueyellow {
    background-color: rgb(255, 255, 150);
}
.availableForUniquegreen {
    background-color: lightgreen;
}
.availableForUniqueblue {
    background-color: lightblue;
}
.availableForUniqueindigo {
    background-color: rgb(98, 61, 126);
}
.availableForUniqueviolet {
    background-color: rgb(236, 187, 236);
}
.alertPic {
    width: 90px;
    height: 90px;
}

.load {
    opacity: 1;
    -webkit-transition: opacity .01 ease-out;
    -moz-transition: opacity .01 ease-out;
    -o-transition: opacity .01 ease-out;
    -ms-transition: opacity .01 ease-out;
    transition: opacity .01 ease-out;
}

.unload {
    opacity: 0;
    -webkit-transition: opacity .01 ease-in;
    -moz-transition: opacity .01 ease-in;
    -o-transition: opacity .01 ease-in;
    -ms-transition: opacity .01 ease-in;
    transition: opacity .01 ease-in;
}
.round-5{
    border-radius: 5px;
}
.round-10{
    border-radius: 10px;
}
.round-15{
    border-radius: 15px;
}
.round-20{
    border-radius: 20px;
}
.round-25{
    border-radius: 25px;
}
.mobileChat{
    background-color: white;
    border-radius: 25px;
    height:400px;
    width:400px;
    z-index:1002;
}
#btnToggleChat { z-index: 1002;}
#mo { background-color: lightgray; }
#mobileChatForm { padding: 3px; }
#mobileChatForm #mo { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
#mobileChatSend { height:35px; }
#mobileMessages { list-style-type: none; padding: 0; max-height:270px; height:270px; overflow-y: auto; }
#mobileMessages li { padding: 5px 10px; }
#mobileMessages { margin-bottom: 40px }